<a href="{{#if buildPage}}/build{{else}}/portfolio{{/if}}/{{_doc._id}}">
  <div class="project-card">
    <div class="cover-container">
      <img class="project-cover" src="{{_doc.coverPhoto}}">
      <div class="project-title">{{_doc.title}}</div>
    </div>
    <div class="project-info">
      {{#each _doc.members}}
      <img class="member-icon" src="http://{{_doc.profilePhoto}}"/>
      {{/each}}
    </div>
  </div>
</a>
