<div class="profile-container">
  <div id="photo">
      <img src="http://{{user.profilePhoto}}"/>
  </div>
  <div id="description-wrapper">
    <div id="name">Name: {{user.displayName}}</div>
    <div id="email">Email: <a target="_blank" href="mailto:{{user.email}}">{{user.email}}</a></div>
    <div id="year">Class Year: {{user.year}}</div>

    <div id="organizations-list">
        Organizations: Under Construction
    </div>

  </div>  
</div>

<div id="profile-projects-list">
  <div id="user-projects">
    {{#each user.projects}}
      {{> projectListItem}}
    {{/each}}
  </div> 

  <script src="/javascripts/projects.js"></script>
</div>
