<div id="project-container">

  <div id="project-cover-image">

    {{!-- These are toggled buttons. --}}
    <button id="button-to-edit"><i class="fa fa-pencil"></i></button>
    <button id="button-save-changes" class="hidden"><i class="fa fa-floppy-o"></i></button>

    <div id="project-title" class="can-edit-text">{{project.title}}</div>
    {{!-- TODO: Change this into uploaded dynamic canvas. --}}
    <img src="{{project.coverPhoto}}"></img>

  </div>

  <div id="project-members">Under Construction: Project Members</div>

  <div id="project-description">
    <section class="sectionTitle">Description and Goals</section>
    <article class="can-edit-text contentWrapper">{{{project.description}}}</article>
  </div>

  <div id="project-gallery">
    <section class="sectionTitle">Gallery</section>

    <div id="gallery-id" data-field="galleryId" data-target-src="gallery-iframe"class="show-on-edit can-edit-text hidden">{{project.galleryId}}</div>
    <div class="contentWrapper" style='position: relative; padding-bottom: 63%; height: 0; overflow: hidden;'>
      <iframe id='gallery-iframe' src='https://flickrit.com/slideshowholder.php?height=62&size=big&speed=3&count=100&setId={{project.galleryId}}&click=true&caption=true&counter=true&trans=1&theme=1&thumbnails=1&transition=3&layoutType=responsive&sort=0' scrolling='no' frameborder='0'style='width:100%; height:100%; position: absolute; top:0; left:0;' >
      </iframe>
    </div>
  </div>

  <div id="project-calendar">
    <section class="sectionTitle">Calendar</section>

    <div id="calendar-link" data-field="calendarLink" data-target-src="calendar-iframe" class="show-on-edit can-edit-text hidden">{{project.calendarLink}}</div>
    <div class="contentWrapper" id="wrapper">
      <iframe id="calendar-iframe" src="{{project.calendarLink}}&mode=AGENDA" style="border: 0" frameborder="0" scrolling="no"></iframe>
    </div>
  </div>

  <div id="project-discussion-board">
    <section class="sectionTitle">Discussion</section>
    <div class="contentWrapper" id="disqus_thread"></div>
  </div>

</div>

<script type="text/javascript">

  /*Sort of a janky way of doing things, but I am getting our JSON object this
  way through Handlebars.*/
  var project = {{{json project}}};

</script>

<script src="/javascripts/disqus.js"></script>
<script src="/javascripts/project.js"></script>
